

.VisualForm {
  font-size: 50px;
  text-align: center;
}



form {
  margin: 15px;
  height: 40px;
  width: 300px;
}

.mainForm {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  width: 800px;
  margin: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
