#instructionList {
  margin-left: 20px;
  font-size: 20px;
}

.VisualForm {
  font-size: 50px;
  text-align: center;
}

form {
  margin: 25px;
  height: 40px;
  width: 500px;
}

.mainForm {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
}


@media (max-width: 576px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .card {
    width: 800px;
    margin: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}


.titleSlot {
  display:flex;
  align-items: flex-end;
}

.averagePercent {
  margin-bottom: 16px;
  margin-left: 5px;
}
